<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RedLine.MainPanel.ProfileSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RedLine.MainPanel.RemoteClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RedLine.MainPanel.Counters" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
    <services>
      <service behaviorConfiguration="RedLineBehavior" name="RedLine.SharedModels.RedLineService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="IRemotePanel" binding="basicHttpBinding" bindingConfiguration="RedLineBasicHttpBinding" contract="RedLine.SharedModels.IRemotePanel"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="RedLineBasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RedLineBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <RedLine.MainPanel.ProfileSettings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
        </RedLine.MainPanel.ProfileSettings>
        <RedLine.MainPanel.RemoteClientSettings>
            <setting name="GrabBrowsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrabFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrabFTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrabImClients" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiDuplicate" serializeAs="String">
                <value>False</value>
            </setting>
        </RedLine.MainPanel.RemoteClientSettings>
        <RedLine.MainPanel.Counters>
            <setting name="Passwords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cookies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoFills" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreditCards" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Files" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTPs" serializeAs="String">
                <value>0</value>
            </setting>
        </RedLine.MainPanel.Counters>
    </userSettings>
</configuration>
